--- #-------------------------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See https://go.microsoft.com/fwlink/?linkid=2090316 for license information.
version: "3"
services:
  web:
    image: ukalwa/node:lts

    volumes:
      - ..:/workspace:cached
      - /workspace/node_modules/

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
